.header {
  display: flex;
  position: fixed;
  height: 64px;
  width: 100%;

  & .nav-list {
    display: flex;
    justify-content: center;
    gap: 16px;

    &-item {
      display: flex;
      color: #212121;

      &.active {
        color: #3c3e6a;
      }
    }
  }
}