@use 'styles/variables' as vars;

.img-container {
  display: grid;
  grid-template-rows: 1fr 32px;
  justify-content: center;
  gap: 12px;
  height: calc(100vh - 64px);

  img {
    height: calc(100vh - 126px);
    background: vars.$color-skeleton;
    transition: opacity 0.3s;
    opacity: 0;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;

    &.loaded {
      opacity: 1;
    }
  }

  button {
    width: 210px;
    justify-self: center;
  }
}