<div
  class="page scrollable-page"
  appInfiniteScroll
  [scrollDisabled]="isLoading() || isPaginateLoading()"
  (scrolled)="paginatePhotos()"
>
  @if (!isLoading()) {
    <app-card-grid>
      @for (photo of photoList(); track photo.trackId) {
        <app-photo-card [photo]="photo" [favorite]="isFavorite(photo.id)" (photoClick)="makeFavorite($event)"/>
      }
    </app-card-grid>

    @if (isPaginateLoading()) {
      <app-loader />
    }
  } @else {
    <div class="loading-page">
      <app-loader />
    </div>
  }

</div>
